.movieList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    padding-right: 250px;
    padding-left: 250px;
    column-gap: 40px;
    row-gap: 30px;
}